ul {
  padding-left: 18px;
}

ul li::before {
  font-weight: bold;
  width: 2em;
}

.right-content {
  border-top: 1px solid grey;
  padding-top: 20px;
  font-size: 14px;
}

.elem {
  width: 300px;
}
