.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid grey;
  font-size: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0 30px 30px 0;
}

.item-key {
  margin-bottom: 15px;
}

.item-value {
  display: flex;
  flex-direction: column;
}
