.app-wrapper {
    margin: 0 auto;
    padding-top: 25px;
    display: grid;
    width: 1200px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;

    grid-template-areas:
        "h h"
        "n c";
    grid-template-columns: 8fr 4fr;
    grid-gap: 40px;
}